body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#inputText {
  font-size: 16px;
  padding: 5px;
  width: 300px;
  margin-bottom: 10px;
}

#output {
  font-size: 18px;
  margin-top: 10px;
}

#copyButton {
  display: none;
}

#copyButton.copied {
  background-color: #2ecc71;
}

.footer {
  position: absolute;
  bottom: 20px;
  text-align: center;
  font-size: 12px;
}

.footer a {
  color: blue;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Light Theme */
body.light-theme {
  background-color: #f5f5f5;
  color: #333;
}

.light-theme .theme-switch label {
  color: #333;
}

.light-theme .toggle-label.dark-label {
  display: none;
}

.light-theme .toggle-label.light-label {
  display: inline-block;
}

.light-theme .toggle-icon i {
  color: #333;
}

/* Dark Theme */
body.dark-theme {
  background-color: #333;
  color: #f5f5f5;
}

.dark-theme .theme-switch label {
  color: #f5f5f5;
}

.dark-theme .toggle-label.light-label {
  display: none;
}

.dark-theme .toggle-label.dark-label {
  display: inline-block;
}

.dark-theme .toggle-icon i {
  color: #f5f5f5;
}

/* Rest of the CSS styles remain the same */

.theme-switch {
  margin-top: 10px;
  text-align: center;
}

.toggle-button {
  background-color: #ccc;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
}

.toggle-button.dark {
  background-color: #333;
}


